.img-wrapper4 p.titlep {
    padding-top: 10px;
    padding-bottom: 0 !important;
}

.img-wrapper4 p.small-text {
    padding-top: 0 !important;
    padding-bottom: 10px !important;
    font-size: 16px;
}

::ng-deep .img-wrapper4 {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 0 1em 4em;
}

::ng-deep .img-wrapper4 button a {
    color: inherit;
}

::ng-deep .img-wrapper4 p {
    padding-top: 5px;
    margin-bottom: 5px;
}

::ng-deep #service .row,
::ng-deep #users .row {
    justify-content: center;
}